@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
nav {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #fff;
  -webkit-transition: opacity 0.55s ease;
  transition: opacity 0.55s ease;
  z-index: 0;
  opacity: 0;
}

nav ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

nav ul li {
  margin: 0;
  list-style: none;
  line-height: 50px;
  text-align: center;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #E0403A;
}

#toggle {
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 999;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  /* on the hamburger */
  -webkit-touch-callout: none;
}

#toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0;
          transform-origin: 4px 0;
  -webkit-transition: background 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: background 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), background 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), background 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#toggle span:first-child {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

#toggle span:nth-last-child(2) {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

#toggle input:checked ~ span {
  opacity: 1;
  background: #242424;
}

#toggle input:checked ~ span:nth-last-child(3) {
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
}

#toggle input:checked ~ span:nth-last-child(2) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#toggle input:checked ~ span:nth-last-child(1) {
  -webkit-transform: rotate(-45deg) translate(-2px, -1px);
          transform: rotate(-45deg) translate(-2px, -1px);
}

.sphere_1 {
  position: relative;
  top: 100px;
  left: 80%;
  border-radius: 100%;
  height: 5vmin;
  width: 5vmin;
  margin: 0;
  background: #fff;
  z-index: 999;
  -webkit-animation: up-down_1 3s ease-in-out infinite;
          animation: up-down_1 3s ease-in-out infinite;
}

@-webkit-keyframes up-down_1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes up-down_1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

.square_part_1_container #square_1 {
  -webkit-animation: square_1_ani 1s cubic-bezier(1, -0.14, 0.25, 0.99) both;
          animation: square_1_ani 1s cubic-bezier(1, -0.14, 0.25, 0.99) both;
}

.square_part_1_container #square_2 {
  -webkit-animation: square_2_ani 1s cubic-bezier(1, -0.14, 0.25, 0.99) both;
          animation: square_2_ani 1s cubic-bezier(1, -0.14, 0.25, 0.99) both;
}

.square_part_1_container #square_3 {
  -webkit-animation: square_3_ani 1s cubic-bezier(1, -0.14, 0.25, 0.99) both;
          animation: square_3_ani 1s cubic-bezier(1, -0.14, 0.25, 0.99) both;
}

.square_part_1_container_re #square_1 {
  -webkit-animation: square_1_ani_re 1.3s cubic-bezier(0.89, 0.02, 0.17, 1.01) both;
          animation: square_1_ani_re 1.3s cubic-bezier(0.89, 0.02, 0.17, 1.01) both;
}

.square_part_1_container_re #square_2 {
  -webkit-animation: square_2_ani_re 1.3s cubic-bezier(0.89, 0.02, 0.17, 1.01) both;
          animation: square_2_ani_re 1.3s cubic-bezier(0.89, 0.02, 0.17, 1.01) both;
}

.square_part_1_container_re #square_3 {
  -webkit-animation: square_3_ani_re 1.3s cubic-bezier(0.89, 0.02, 0.17, 1.01) both;
          animation: square_3_ani_re 1.3s cubic-bezier(0.89, 0.02, 0.17, 1.01) both;
}

#square_1 {
  position: absolute;
  top: 140%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #10b34f;
  -webkit-transform: skew(0, 3deg);
          transform: skew(0, 3deg);
}

#square_2 {
  position: absolute;
  top: 140%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #25d368;
  -webkit-transform: skew(0, 2deg);
          transform: skew(0, 2deg);
}

#square_3 {
  position: absolute;
  top: 140%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 1000vh;
  background: #57ff97;
  -webkit-transform: skew(0, -4deg);
          transform: skew(0, -4deg);
}

@-webkit-keyframes square_1_ani {
  0% {
    -webkit-transform: translateY(-70vh) skew(0, 3deg);
            transform: translateY(-70vh) skew(0, 3deg);
  }
  100% {
    -webkit-transform: translateY(-130vh) skew(0, 3deg);
            transform: translateY(-130vh) skew(0, 3deg);
  }
}

@keyframes square_1_ani {
  0% {
    -webkit-transform: translateY(-70vh) skew(0, 3deg);
            transform: translateY(-70vh) skew(0, 3deg);
  }
  100% {
    -webkit-transform: translateY(-130vh) skew(0, 3deg);
            transform: translateY(-130vh) skew(0, 3deg);
  }
}

@-webkit-keyframes square_2_ani {
  0% {
    -webkit-transform: translateY(-65vh) skew(0, 2deg);
            transform: translateY(-65vh) skew(0, 2deg);
  }
  100% {
    -webkit-transform: translateY(-130vh) skew(0, 2deg);
            transform: translateY(-130vh) skew(0, 2deg);
  }
}

@keyframes square_2_ani {
  0% {
    -webkit-transform: translateY(-65vh) skew(0, 2deg);
            transform: translateY(-65vh) skew(0, 2deg);
  }
  100% {
    -webkit-transform: translateY(-130vh) skew(0, 2deg);
            transform: translateY(-130vh) skew(0, 2deg);
  }
}

@-webkit-keyframes square_3_ani {
  0% {
    -webkit-transform: translateY(-55vh) skew(0, -4deg);
            transform: translateY(-55vh) skew(0, -4deg);
  }
  100% {
    -webkit-transform: translateY(-150vh) skew(0, -4deg);
            transform: translateY(-150vh) skew(0, -4deg);
  }
}

@keyframes square_3_ani {
  0% {
    -webkit-transform: translateY(-55vh) skew(0, -4deg);
            transform: translateY(-55vh) skew(0, -4deg);
  }
  100% {
    -webkit-transform: translateY(-150vh) skew(0, -4deg);
            transform: translateY(-150vh) skew(0, -4deg);
  }
}

@-webkit-keyframes square_1_ani_re {
  10% {
    -webkit-transform: translateY(0) skew(0, 3deg);
            transform: translateY(0) skew(0, 3deg);
  }
  100% {
    -webkit-transform: translateY(-70vh) skew(0, 3deg);
            transform: translateY(-70vh) skew(0, 3deg);
  }
}

@keyframes square_1_ani_re {
  10% {
    -webkit-transform: translateY(0) skew(0, 3deg);
            transform: translateY(0) skew(0, 3deg);
  }
  100% {
    -webkit-transform: translateY(-70vh) skew(0, 3deg);
            transform: translateY(-70vh) skew(0, 3deg);
  }
}

@-webkit-keyframes square_2_ani_re {
  20% {
    -webkit-transform: translateY(0) skew(0, 2deg);
            transform: translateY(0) skew(0, 2deg);
  }
  100% {
    -webkit-transform: translateY(-65vh) skew(0, 2deg);
            transform: translateY(-65vh) skew(0, 2deg);
  }
}

@keyframes square_2_ani_re {
  20% {
    -webkit-transform: translateY(0) skew(0, 2deg);
            transform: translateY(0) skew(0, 2deg);
  }
  100% {
    -webkit-transform: translateY(-65vh) skew(0, 2deg);
            transform: translateY(-65vh) skew(0, 2deg);
  }
}

@-webkit-keyframes square_3_ani_re {
  30% {
    -webkit-transform: translateY(0) skew(0, -4deg);
            transform: translateY(0) skew(0, -4deg);
  }
  100% {
    -webkit-transform: translateY(-55vh) skew(0, -4deg);
            transform: translateY(-55vh) skew(0, -4deg);
  }
}

@keyframes square_3_ani_re {
  30% {
    -webkit-transform: translateY(0) skew(0, -4deg);
            transform: translateY(0) skew(0, -4deg);
  }
  100% {
    -webkit-transform: translateY(-55vh) skew(0, -4deg);
            transform: translateY(-55vh) skew(0, -4deg);
  }
}

.square_part_2_container #square_4 {
  -webkit-animation: square_4_ani 1s cubic-bezier(0.82, -0.19, 0.33, 1.19) both;
          animation: square_4_ani 1s cubic-bezier(0.82, -0.19, 0.33, 1.19) both;
}

.square_part_2_container #square_5 {
  -webkit-animation: square_5_ani 1s cubic-bezier(0.82, -0.19, 0.33, 1.19) both;
          animation: square_5_ani 1s cubic-bezier(0.82, -0.19, 0.33, 1.19) both;
}

.square_part_2_container #square_6 {
  -webkit-animation: square_6_ani 1s cubic-bezier(0.82, -0.19, 0.33, 1.19) both;
          animation: square_6_ani 1s cubic-bezier(0.82, -0.19, 0.33, 1.19) both;
}

.square_part_2_container_re #square_4 {
  -webkit-animation: square_4_ani_re 1.3s cubic-bezier(0.89, 0.02, 0.17, 1.01) both;
          animation: square_4_ani_re 1.3s cubic-bezier(0.89, 0.02, 0.17, 1.01) both;
}

.square_part_2_container_re #square_5 {
  -webkit-animation: square_5_ani_re 1.3s cubic-bezier(0.89, 0.02, 0.17, 1.01) both;
          animation: square_5_ani_re 1.3s cubic-bezier(0.89, 0.02, 0.17, 1.01) both;
}

.square_part_2_container_re #square_6 {
  -webkit-animation: square_6_ani_re 1.3s cubic-bezier(0.89, 0.02, 0.17, 1.01) both;
          animation: square_6_ani_re 1.3s cubic-bezier(0.89, 0.02, 0.17, 1.01) both;
}

#square_4 {
  position: absolute;
  top: 140%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #c52323;
  -webkit-transform: skew(0, 3deg);
          transform: skew(0, 3deg);
}

#square_5 {
  position: absolute;
  top: 140%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #eb4343;
  -webkit-transform: skew(0, 2deg);
          transform: skew(0, 2deg);
}

#square_6 {
  position: absolute;
  top: 140%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 1000vh;
  background: #f76161;
  -webkit-transform: skew(0, -4deg);
          transform: skew(0, -4deg);
}

@-webkit-keyframes square_4_ani_re {
  10% {
    -webkit-transform: translateY(0) skew(0, 3deg);
            transform: translateY(0) skew(0, 3deg);
  }
  100% {
    -webkit-transform: translateY(-70vh) skew(0, 3deg);
            transform: translateY(-70vh) skew(0, 3deg);
  }
}

@keyframes square_4_ani_re {
  10% {
    -webkit-transform: translateY(0) skew(0, 3deg);
            transform: translateY(0) skew(0, 3deg);
  }
  100% {
    -webkit-transform: translateY(-70vh) skew(0, 3deg);
            transform: translateY(-70vh) skew(0, 3deg);
  }
}

@-webkit-keyframes square_5_ani_re {
  20% {
    -webkit-transform: translateY(0) skew(0, 2deg);
            transform: translateY(0) skew(0, 2deg);
  }
  100% {
    -webkit-transform: translateY(-65vh) skew(0, 2deg);
            transform: translateY(-65vh) skew(0, 2deg);
  }
}

@keyframes square_5_ani_re {
  20% {
    -webkit-transform: translateY(0) skew(0, 2deg);
            transform: translateY(0) skew(0, 2deg);
  }
  100% {
    -webkit-transform: translateY(-65vh) skew(0, 2deg);
            transform: translateY(-65vh) skew(0, 2deg);
  }
}

@-webkit-keyframes square_6_ani_re {
  30% {
    -webkit-transform: translateY(0) skew(0, -4deg);
            transform: translateY(0) skew(0, -4deg);
  }
  100% {
    -webkit-transform: translateY(-55vh) skew(0, -4deg);
            transform: translateY(-55vh) skew(0, -4deg);
  }
}

@keyframes square_6_ani_re {
  30% {
    -webkit-transform: translateY(0) skew(0, -4deg);
            transform: translateY(0) skew(0, -4deg);
  }
  100% {
    -webkit-transform: translateY(-55vh) skew(0, -4deg);
            transform: translateY(-55vh) skew(0, -4deg);
  }
}

@-webkit-keyframes square_4_ani {
  0% {
    -webkit-transform: translateY(-70vh) skew(0, 3deg);
            transform: translateY(-70vh) skew(0, 3deg);
  }
  100% {
    -webkit-transform: translateY(-130vh) skew(0, 3deg);
            transform: translateY(-130vh) skew(0, 3deg);
  }
}

@keyframes square_4_ani {
  0% {
    -webkit-transform: translateY(-70vh) skew(0, 3deg);
            transform: translateY(-70vh) skew(0, 3deg);
  }
  100% {
    -webkit-transform: translateY(-130vh) skew(0, 3deg);
            transform: translateY(-130vh) skew(0, 3deg);
  }
}

@-webkit-keyframes square_5_ani {
  0% {
    -webkit-transform: translateY(-65vh) skew(0, 2deg);
            transform: translateY(-65vh) skew(0, 2deg);
  }
  100% {
    -webkit-transform: translateY(-130vh) skew(0, 2deg);
            transform: translateY(-130vh) skew(0, 2deg);
  }
}

@keyframes square_5_ani {
  0% {
    -webkit-transform: translateY(-65vh) skew(0, 2deg);
            transform: translateY(-65vh) skew(0, 2deg);
  }
  100% {
    -webkit-transform: translateY(-130vh) skew(0, 2deg);
            transform: translateY(-130vh) skew(0, 2deg);
  }
}

@-webkit-keyframes square_6_ani {
  0% {
    -webkit-transform: translateY(-55vh) skew(0, -4deg);
            transform: translateY(-55vh) skew(0, -4deg);
  }
  100% {
    -webkit-transform: translateY(-150vh) skew(0, -4deg);
            transform: translateY(-150vh) skew(0, -4deg);
  }
}

@keyframes square_6_ani {
  0% {
    -webkit-transform: translateY(-55vh) skew(0, -4deg);
            transform: translateY(-55vh) skew(0, -4deg);
  }
  100% {
    -webkit-transform: translateY(-150vh) skew(0, -4deg);
            transform: translateY(-150vh) skew(0, -4deg);
  }
}

.square_part_3_container #square_7 {
  -webkit-animation: square_4_ani 1s cubic-bezier(0.82, -0.19, 0.33, 1.19) both;
          animation: square_4_ani 1s cubic-bezier(0.82, -0.19, 0.33, 1.19) both;
}

.square_part_3_container #square_8 {
  -webkit-animation: square_5_ani 1s cubic-bezier(0.82, -0.19, 0.33, 1.19) both;
          animation: square_5_ani 1s cubic-bezier(0.82, -0.19, 0.33, 1.19) both;
}

.square_part_3_container #square_9 {
  -webkit-animation: square_6_ani 1s cubic-bezier(0.82, -0.19, 0.33, 1.19) both;
          animation: square_6_ani 1s cubic-bezier(0.82, -0.19, 0.33, 1.19) both;
}

.square_part_3_container_re #square_7 {
  -webkit-animation: square_4_ani_re 1.3s cubic-bezier(0.89, 0.02, 0.17, 1.01) both;
          animation: square_4_ani_re 1.3s cubic-bezier(0.89, 0.02, 0.17, 1.01) both;
}

.square_part_3_container_re #square_8 {
  -webkit-animation: square_5_ani_re 1.3s cubic-bezier(0.89, 0.02, 0.17, 1.01) both;
          animation: square_5_ani_re 1.3s cubic-bezier(0.89, 0.02, 0.17, 1.01) both;
}

.square_part_3_container_re #square_9 {
  -webkit-animation: square_6_ani_re 1.3s cubic-bezier(0.89, 0.02, 0.17, 1.01) both;
          animation: square_6_ani_re 1.3s cubic-bezier(0.89, 0.02, 0.17, 1.01) both;
}

#square_7 {
  position: absolute;
  top: 140%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #4377cc;
  -webkit-transform: skew(0, 3deg);
          transform: skew(0, 3deg);
}

#square_8 {
  position: absolute;
  top: 140%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #7098da;
  -webkit-transform: skew(0, 2deg);
          transform: skew(0, 2deg);
}

#square_9 {
  position: absolute;
  top: 140%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 1000vh;
  background: #A1C4FD;
  -webkit-transform: skew(0, -4deg);
          transform: skew(0, -4deg);
}

@-webkit-keyframes square_7_ani_re {
  10% {
    -webkit-transform: translateY(0) skew(0, 3deg);
            transform: translateY(0) skew(0, 3deg);
  }
  100% {
    -webkit-transform: translateY(-70vh) skew(0, 3deg);
            transform: translateY(-70vh) skew(0, 3deg);
  }
}

@keyframes square_7_ani_re {
  10% {
    -webkit-transform: translateY(0) skew(0, 3deg);
            transform: translateY(0) skew(0, 3deg);
  }
  100% {
    -webkit-transform: translateY(-70vh) skew(0, 3deg);
            transform: translateY(-70vh) skew(0, 3deg);
  }
}

@-webkit-keyframes square_8_ani_re {
  20% {
    -webkit-transform: translateY(0) skew(0, 2deg);
            transform: translateY(0) skew(0, 2deg);
  }
  100% {
    -webkit-transform: translateY(-65vh) skew(0, 2deg);
            transform: translateY(-65vh) skew(0, 2deg);
  }
}

@keyframes square_8_ani_re {
  20% {
    -webkit-transform: translateY(0) skew(0, 2deg);
            transform: translateY(0) skew(0, 2deg);
  }
  100% {
    -webkit-transform: translateY(-65vh) skew(0, 2deg);
            transform: translateY(-65vh) skew(0, 2deg);
  }
}

@-webkit-keyframes square_9_ani_re {
  30% {
    -webkit-transform: translateY(0) skew(0, -4deg);
            transform: translateY(0) skew(0, -4deg);
  }
  100% {
    -webkit-transform: translateY(-55vh) skew(0, -4deg);
            transform: translateY(-55vh) skew(0, -4deg);
  }
}

@keyframes square_9_ani_re {
  30% {
    -webkit-transform: translateY(0) skew(0, -4deg);
            transform: translateY(0) skew(0, -4deg);
  }
  100% {
    -webkit-transform: translateY(-55vh) skew(0, -4deg);
            transform: translateY(-55vh) skew(0, -4deg);
  }
}

@-webkit-keyframes square_7_ani {
  0% {
    -webkit-transform: translateY(-70vh) skew(0, 3deg);
            transform: translateY(-70vh) skew(0, 3deg);
  }
  100% {
    -webkit-transform: translateY(-130vh) skew(0, 3deg);
            transform: translateY(-130vh) skew(0, 3deg);
  }
}

@keyframes square_7_ani {
  0% {
    -webkit-transform: translateY(-70vh) skew(0, 3deg);
            transform: translateY(-70vh) skew(0, 3deg);
  }
  100% {
    -webkit-transform: translateY(-130vh) skew(0, 3deg);
            transform: translateY(-130vh) skew(0, 3deg);
  }
}

@-webkit-keyframes square_8_ani {
  0% {
    -webkit-transform: translateY(-65vh) skew(0, 2deg);
            transform: translateY(-65vh) skew(0, 2deg);
  }
  100% {
    -webkit-transform: translateY(-130vh) skew(0, 2deg);
            transform: translateY(-130vh) skew(0, 2deg);
  }
}

@keyframes square_8_ani {
  0% {
    -webkit-transform: translateY(-65vh) skew(0, 2deg);
            transform: translateY(-65vh) skew(0, 2deg);
  }
  100% {
    -webkit-transform: translateY(-130vh) skew(0, 2deg);
            transform: translateY(-130vh) skew(0, 2deg);
  }
}

@-webkit-keyframes square_9_ani {
  0% {
    -webkit-transform: translateY(-55vh) skew(0, -4deg);
            transform: translateY(-55vh) skew(0, -4deg);
  }
  100% {
    -webkit-transform: translateY(-150vh) skew(0, -4deg);
            transform: translateY(-150vh) skew(0, -4deg);
  }
}

@keyframes square_9_ani {
  0% {
    -webkit-transform: translateY(-55vh) skew(0, -4deg);
            transform: translateY(-55vh) skew(0, -4deg);
  }
  100% {
    -webkit-transform: translateY(-150vh) skew(0, -4deg);
            transform: translateY(-150vh) skew(0, -4deg);
  }
}

.btn-container {
  position: absolute;
  top: 50%;
  right: 10%;
  z-index: 100;
}

.btn-container #nextBtn {
  border: 2px solid #242424;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 50px;
}

.btn-container #nextBtn:hover {
  background: aqua;
}

.blobs {
  -webkit-filter: url("#goo");
          filter: url("#goo");
  position: absolute;
  -webkit-transform: translate(50vw, 50vh);
          transform: translate(50vw, 50vh);
}

.blobs .blob_first {
  position: absolute;
  overflow: visible;
  background: #32e68c;
  left: 80%;
  top: 30%;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: click cubic-bezier(0.77, 0, 0.175, 1) 4s infinite;
          animation: click cubic-bezier(0.77, 0, 0.175, 1) 4s infinite;
}

.blobs .blob_first:nth-child(1) {
  z-index: 99;
}

@-webkit-keyframes click {
  0% {
    -webkit-transform: scale(1.2) translate(0, 0);
            transform: scale(1.2) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(1.2) translate(0, 0);
            transform: scale(1.2) translate(0, 0);
  }
}

@keyframes click {
  0% {
    -webkit-transform: scale(1.2) translate(0, 0);
            transform: scale(1.2) translate(0, 0);
  }
  100% {
    -webkit-transform: scale(1.2) translate(0, 0);
            transform: scale(1.2) translate(0, 0);
  }
}

@-webkit-keyframes blob_click_1 {
  3% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(0, -120px);
            transform: scale(0.9) translate(0, -120px);
  }
  100% {
    -webkit-transform: scale(0.7) translate(0, -120px);
            transform: scale(0.7) translate(0, -120px);
  }
}

@keyframes blob_click_1 {
  3% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(0, -120px);
            transform: scale(0.9) translate(0, -120px);
  }
  100% {
    -webkit-transform: scale(0.7) translate(0, -120px);
            transform: scale(0.7) translate(0, -120px);
  }
}

@-webkit-keyframes blob_click_2 {
  6% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(-120px, 0);
            transform: scale(0.9) translate(-120px, 0);
  }
  100% {
    -webkit-transform: scale(0.7) translate(-120px, 0);
            transform: scale(0.7) translate(-120px, 0);
  }
}

@keyframes blob_click_2 {
  6% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(-120px, 0);
            transform: scale(0.9) translate(-120px, 0);
  }
  100% {
    -webkit-transform: scale(0.7) translate(-120px, 0);
            transform: scale(0.7) translate(-120px, 0);
  }
}

@-webkit-keyframes blob_click_3 {
  9% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(120px, 0);
            transform: scale(0.9) translate(120px, 0);
  }
  100% {
    -webkit-transform: scale(0.7) translate(120px, 0);
            transform: scale(0.7) translate(120px, 0);
  }
}

@keyframes blob_click_3 {
  9% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(120px, 0);
            transform: scale(0.9) translate(120px, 0);
  }
  100% {
    -webkit-transform: scale(0.7) translate(120px, 0);
            transform: scale(0.7) translate(120px, 0);
  }
}

@-webkit-keyframes blob_click_4 {
  12% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(0, 120px);
            transform: scale(0.9) translate(0, 120px);
  }
  100% {
    -webkit-transform: scale(0.7) translate(0, 120px);
            transform: scale(0.7) translate(0, 120px);
  }
}

@keyframes blob_click_4 {
  12% {
    -webkit-transform: scale(1.1) translate(0, 0);
            transform: scale(1.1) translate(0, 0);
  }
  33% {
    -webkit-transform: scale(0.9) translate(0, 120px);
            transform: scale(0.9) translate(0, 120px);
  }
  100% {
    -webkit-transform: scale(0.7) translate(0, 120px);
            transform: scale(0.7) translate(0, 120px);
  }
}

.blob_start {
  position: absolute;
  background: #32e68c;
  left: 80%;
  top: 30%;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: click cubic-bezier(0.77, 0, 0.175, 1) 4s;
          animation: click cubic-bezier(0.77, 0, 0.175, 1) 4s;
}

.blob_start:nth-child(1) {
  z-index: 99;
}

.blob_start:nth-child(2) {
  -webkit-animation-name: blob_click_1;
          animation-name: blob_click_1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.blob_start:nth-child(3) {
  -webkit-animation-name: blob_click_2;
          animation-name: blob_click_2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.blob_start:nth-child(4) {
  -webkit-animation-name: blob_click_3;
          animation-name: blob_click_3;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.blob_start:nth-child(5) {
  -webkit-animation-name: blob_click_4;
          animation-name: blob_click_4;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body {
  background: #a1c4fd;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
