@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
nav {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #fff;
  -webkit-transition: opacity 0.55s ease;
  transition: opacity 0.55s ease;
  opacity: 0;
}

nav ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

nav ul li {
  margin: 0;
  list-style: none;
  line-height: 50px;
  text-align: center;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #E0403A;
}

#toggle {
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 9999999;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  /* on the hamburger */
  -webkit-touch-callout: none;
}

#toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0;
          transform-origin: 4px 0;
  -webkit-transition: background 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: background 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), background 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), background 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#toggle span:first-child {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

#toggle span:nth-last-child(2) {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

#toggle input:checked ~ span {
  opacity: 1;
  background: #242424;
}

#toggle input:checked ~ span:nth-last-child(3) {
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
}

#toggle input:checked ~ span:nth-last-child(2) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#toggle input:checked ~ span:nth-last-child(1) {
  -webkit-transform: rotate(-45deg) translate(-2px, -1px);
          transform: rotate(-45deg) translate(-2px, -1px);
}

.sphere_1 {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  border-radius: 100%;
  height: 250px;
  width: 250px;
  margin: 0;
  background: linear-gradient(217deg, rgba(255, 161, 161, 0.8), rgba(255, 255, 255, 0) 70.71%), linear-gradient(127deg, rgba(170, 255, 170, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(207, 207, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  -webkit-animation: up-down_1 3s ease-in-out infinite;
          animation: up-down_1 3s ease-in-out infinite;
}

@-webkit-keyframes up-down_1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
  }
}

@keyframes up-down_1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
  }
}

.sphere_2 {
  position: absolute;
  top: 25%;
  left: 20%;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  margin: 0;
  background: linear-gradient(217deg, rgba(255, 161, 161, 0.8), rgba(255, 255, 255, 0) 70.71%), linear-gradient(127deg, rgba(170, 255, 170, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(207, 207, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  -webkit-animation: up-down_2 3s ease-in-out infinite;
          animation: up-down_2 3s ease-in-out infinite;
}

@-webkit-keyframes up-down_2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes up-down_2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

.sphere_3 {
  position: absolute;
  top: 10%;
  left: 10%;
  background: #fff;
  border-radius: 100%;
  height: 250px;
  width: 250px;
  margin: 0;
  background: linear-gradient(217deg, rgba(255, 161, 161, 0.8), rgba(255, 255, 255, 0) 70.71%), linear-gradient(127deg, rgba(170, 255, 170, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(207, 207, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  -webkit-animation: up-down_3 3s ease-in-out infinite;
          animation: up-down_3 3s ease-in-out infinite;
}

@-webkit-keyframes up-down_3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
  }
}

@keyframes up-down_3 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
  }
}

html,
body {
  background: #a1c4fd;
  margin: 0;
  padding: 0;
}
