.container_arrow {
    position: relative;
    top: 500px;
    left: 90%;
    z-index: 9999;
}


.arrow_1,
.arrow_2 {
    width: 5vw;
    height: 5vh;
    transition: cubic-bezier(.86,.01,.11,1);
    box-shadow: -2px 2px 0 rgb(255, 255, 255);

}

.arrow_1 {
    transform: rotate(45deg);
}


.arrow_2 {
    transform: rotate(225deg);
}