@mixin hovered($val) {
    @if $val == right {
        transform: rotate(45deg) translateX(5px);
    }
    @else if $val == left {
        transform: rotate(-135deg) translateY(5px);
    }
}

.btn-container {
    position: absolute;
    top: 50%;
    left: 90%;
    z-index: 99;
    box-sizing: border-box;
    width: 100%;
    #nextBtn {
        justify-content: center;
        text-align: center;
        padding: 5px 5px;

        background: transparent;

        border-top: 5px solid white;
        border-right: 5px solid white;
        border-bottom:none;
        border-left: none;
        box-shadow: 0 0 0 0;
        transition: all 200ms ease;
    
        &.right {
            transform:rotate(45deg);
            &:hover {
                border-color: orange;
                @include hovered(right);
            }
        }
    }
    #prevBtn {
        position: relative;
        top: 10px;
        left: -40px;
        justify-content: center;
        text-align: center;
        padding: 5px 5px;

        background: transparent;

        border-top: 5px solid white;
        border-right: 5px solid white;
        border-bottom:none;
        border-left: none;
        box-shadow: 0 0 0 0;
        transition: all 200ms ease;
        &.left {
            transform: rotate(-135deg);
            &:hover {
                border-color: orange;
                @include hovered(left);
            }
        }
    }
}
