.btn-container {
    position: absolute;
    top: 50%;
    right: 10%;
    z-index: 100;

    #nextBtn {
        border: 1px solid skyblue;
        background-color:#000;
        padding: 10px;
    }
}


// .button:hover, 
// .button:focus {
//     animation: pulse 1s;
//     box-shadow: 0 0 0 2em rgba(#fff,0);
// }

// @keyframes pulse {
//     0% { box-shadow: 0 0 0 0 var(--hover); }
// }
