.btn-container {
    position: absolute;
    top: 50%;
    right: 10%;
    z-index: 100;

    #nextBtn {
        border: 2px solid #242424;
        border-radius:10px;
        background-color: rgba(0,0,0,0);
        padding: 10px 50px;
    }

    #nextBtn:hover {
        background: aqua;
    }
}


// .button:hover, 
// .button:focus {
//     animation: pulse 1s;
//     box-shadow: 0 0 0 2em rgba(#fff,0);
// }

// @keyframes pulse {
//     0% { box-shadow: 0 0 0 0 var(--hover); }
// }
