#square_1 {
    position: absolute;
    top: 70%;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #3a175c;
    transform: skew(0, 3deg);
    // transform: skew(0, 3deg) translateY(65vh);
    // animation: goTop_1 1s cubic-bezier(.82,-0.19,.33,1.19) both;

}


.square_1_ani {
    animation: goTop_1 1s cubic-bezier(.82,-0.19,.33,1.19) both;

}

@keyframes goTop_1 {
    0%{
        transform: translateY(0)  skew(0, 3deg);
    
    }
    100%{
        transform: translateY(-50vh)  skew(0, 3deg);

    }
}






#square_2 {
    position: absolute;
    top: 75%;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #53297e;
    // transform: skew(0, 2deg) translateY(70vh);
    // animation: goTop_2 1s cubic-bezier(.82,-0.19,.33,1.19) both;
    // animation-delay: 0.02s;
    transform: skew(0, 2deg);

}


.square_2_ani {
    animation: goTop_2 1s cubic-bezier(.82,-0.19,.33,1.19) both;
    animation-delay: 0.02s;
}


@keyframes goTop_2 {
    0%{
        transform: translateY(0) skew(0, 2deg) ;
    }
    100%{
        transform: translateY(-70vh) skew(0, 2deg) ;
    }
}

#square_3 {
    position: absolute;
    top: 85%;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 1000vh;
    background: #743daa;
    // transform: skew(0, -4deg) translateY(40vh);
    // animation: goTop_3 1s cubic-bezier(.82,-0.19,.33,1.19) both;
    // animation-delay: 0.04s;
    transform: skew(0, -4deg);


}

.square_3_ani {
    animation: goTop_3 1s cubic-bezier(.82,-0.19,.33,1.19) both;
    animation-delay: 0.04s;
}

@keyframes goTop_3 {
    0%{
        transform: translateY(0) skew(0, -4deg) ;
    }
    100%{
        transform: translateY(-100vh) skew(0, -4deg) ;
    }
}





/////////////////////////////////////////////////////////////////////////


#square_4 {
    position: absolute;
    top: 140%;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #0D1321;
    transform: skew(0, 3deg);
}

.square_4_ani_re {
    animation: square_4_ani_re 1.3s cubic-bezier(.82,-0.19,.33,1.19) both;
}

.square_4_ani {
    animation: square_4_ani 1s cubic-bezier(.82,-0.19,.33,1.19) both;
}


@keyframes square_4_ani_re {
    0%{
        transform: translateY(0)  skew(0, 3deg);
        
    }
    100%{
        transform: translateY(-70vh)  skew(0, 3deg);
        
    }
}

@keyframes square_4_ani {
    0%{
        transform: translateY(-70vh)  skew(0, 3deg);
    
    }
    100%{
        transform: translateY(-130vh)  skew(0, 3deg);
    }
}



#square_5 {
    position: absolute;
    top: 140%;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #1D2D44;
    // transform: skew(0, 2deg) translateY(70vh);
    // animation: goTop_2 1s cubic-bezier(.82,-0.19,.33,1.19) both;
    // animation-delay: 0.02s;
    transform: skew(0, 2deg);

}

.square_5_ani_re {
    animation: square_5_ani_re 1.3s cubic-bezier(.82,-0.19,.33,1.19) both;
    animation-delay: 0.04s;
}

.square_5_ani {
    animation: square_5_ani 1s cubic-bezier(.82,-0.19,.33,1.19) both;
    animation-delay: 0.04s;
}



@keyframes square_5_ani_re {
    0%{
        transform: translateY(0)  skew(0, 2deg);
        
    }
    100%{
        transform: translateY(-65vh) skew(0, 2deg) ;
        
    }
}

@keyframes square_5_ani {
    0%{
        transform: translateY(-65vh)  skew(0, 2deg) ;
    
    }
    100%{
        transform: translateY(-130vh)  skew(0, 2deg) ;
    }
}





#square_6 {
    position: absolute;
    top: 140%;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 1000vh;
    background: #3E5C77;
    // transform: skew(0, 2deg) translateY(70vh);
    // animation: goTop_2 1s cubic-bezier(.82,-0.19,.33,1.19) both;
    // animation-delay: 0.02s;
    transform:  skew(0, -4deg);
}

.square_6_ani_re {
    animation: square_6_ani_re 1.3s cubic-bezier(.82,-0.19,.33,1.19) both;
    animation-delay: 0.08s;
}

.square_6_ani {
    animation: square_6_ani 1s cubic-bezier(.82,-0.19,.33,1.19) both;
    animation-delay: 0.08s;
}



@keyframes square_6_ani_re {
    0%{
        transform: translateY(0)  skew(0, -4deg);
        
    }
    100%{
        transform: translateY(-55vh) skew(0, -4deg);
        
    }
}

@keyframes square_6_ani {
    0%{
        transform: translateY(-55vh)  skew(0, -4deg);
    
    }
    100%{
        transform: translateY(-150vh) skew(0, -4deg);
    }
}


