.square_part_1_container_back {
    #square_1 {
        animation: square_1_ani_back 1.5s cubic-bezier(1,-0.14,.25,.99) both;
    }
    #square_2 {
        animation: square_2_ani_back 1.5s cubic-bezier(1,-0.14,.25,.99) both;
    }
    #square_3 {
        animation: square_3_ani_back 1.5s cubic-bezier(1,-0.14,.25,.99) both;
    }
}


.square_part_1_container_back_re {
    #square_1 {
        animation: square_1_ani_back_re 1.3s cubic-bezier(.89,.02,.17,1.01) both;
    }
    #square_2 {
        animation: square_2_ani_back_re 1.3s cubic-bezier(.89,.02,.17,1.01) both;
    }
    #square_3 {
        animation: square_3_ani_back_re 1.3s cubic-bezier(.89,.02,.17,1.01) both;
    }
}

@keyframes square_1_ani_back {
    0% {
        transform: translateY(-70vh) skew(0, 3deg);
    }
    5% {
        transform: translateY(-70vh) skew(0, 3deg);
    }


    100%{
            transform: translateY(130vh)  skew(0, 3deg);
        }
}

@keyframes square_2_ani_back {
    0% {
        transform: translateY(-65vh) skew(0, 2deg);
    }

    10% {
        transform: translateY(-65vh) skew(0, 2deg);
    }

    100%{
        transform: translateY(130vh)  skew(0, 2deg) ;
    }
}

@keyframes square_3_ani_back {
    0% {
        transform: translateY(-55vh) skew(0, -4deg);
    }

    15% {
        transform: translateY(-55vh) skew(0, -4deg);
    }
    
    100%{
        transform: translateY(150vh) skew(0, -4deg);
    }
}




@keyframes square_1_ani_back_re {
    10%{
        transform: translateY(-170vh)  skew(0, 3deg);
        
    }
    100%{
        transform: translateY(-70vh)  skew(0, 3deg);
    }
}


@keyframes square_2_ani_back_re {
    0%{
        transform: translateY(-150vh)  skew(0, 2deg);
        
    }
    100%{
        transform: translateY(-65vh) skew(0, 2deg) ;
        
    }
}

@keyframes square_3_ani_back_re {
    0%{
        transform: translateY(-150vh)  skew(0, -4deg);
        
    }
    100%{
        transform: translateY(-55vh) skew(0, -4deg);
        
    }
}





.square_part_2_container_back  {
    #square_4 {
        animation: square_4_ani_back 1.5s cubic-bezier(.82,-0.19,.33,1.19) both;
    }
    #square_5 {
        animation: square_5_ani_back 1.5s cubic-bezier(.82,-0.19,.33,1.19) both;
    }
    #square_6 {
        animation: square_6_ani_back 1.5s cubic-bezier(.82,-0.19,.33,1.19) both;
    }
}
.square_part_2_container_back_re {
    #square_4 {
        animation: square_4_ani_back_re 1.3s cubic-bezier(.89,.02,.17,1.01) both;
    }
    #square_5 {
        animation: square_5_ani_back_re 1.3s cubic-bezier(.89,.02,.17,1.01) both;
        }
    #square_6 {
        animation: square_6_ani_back_re 1.3s cubic-bezier(.89,.02,.17,1.01) both;
    }
}





@keyframes square_4_ani_back {
    0%{
        transform: translateY(-70vh)  skew(0, 3deg);
        
    }
    5%{
        transform: translateY(-70vh)  skew(0, 3deg);
        
    }
    100%{
        transform: translateY(100vh)  skew(0, 3deg);
    }
}
@keyframes square_5_ani_back {
    0%{
        transform: translateY(-65vh)  skew(0, 2deg) ;
        
    }
    10%{
        transform: translateY(-65vh)  skew(0, 2deg) ;
        
    }
    100%{
        transform: translateY(100vh)  skew(0, 2deg) ;
    }
}

@keyframes square_6_ani_back {
    0%{
        transform: translateY(-55vh)  skew(0, -4deg);
        
    }
    15%{
        transform: translateY(-55vh)  skew(0, -4deg);
        
    }
    100%{
        transform: translateY(100vh) skew(0, -4deg);
    }
}



@keyframes square_4_ani_back_re {
    10%{
        transform: translateY(-170vh)  skew(0, 3deg);
        
    }
    100%{
        transform: translateY(-70vh)  skew(0, 3deg);
        
    }
}


@keyframes square_5_ani_back_re {
    0%{
        transform: translateY(-150vh)  skew(0, 2deg);
        
    }
    100%{
        transform: translateY(-65vh) skew(0, 2deg) ;
    }
}


@keyframes square_6_ani_back_re {
    0%{
        transform: translateY(-150vh)  skew(0, -4deg);
        
    }
    100%{
        transform: translateY(-55vh) skew(0, -4deg);
        
    }
}

.square_part_3_container_back  {
    #square_7 {
        animation: square_7_ani_back 1.5s cubic-bezier(.82,-0.19,.33,1.19) both;
    }
    #square_8 {
        animation: square_8_ani_back 1.5s cubic-bezier(.82,-0.19,.33,1.19) both;
    }
    #square_9 {
        animation: square_9_ani_back 1.5s cubic-bezier(.82,-0.19,.33,1.19) both;
    }
}
.square_part_3_container_back_re { 
    #square_7 {
        animation: square_7_ani_back_re 1.3s cubic-bezier(.89,.02,.17,1.01) both;
    }
    #square_8 {
        animation: square_8_ani_back_re 1.3s cubic-bezier(.89,.02,.17,1.01) both;
    }
    #square_9 {
        animation: square_9_ani_back_re 1.3s cubic-bezier(.89,.02,.17,1.01) both;
    }
}

@keyframes square_7_ani_back {
0%{
    transform: translateY(-70vh)  skew(0, 3deg);
}
5%{
    transform: translateY(-70vh)  skew(0, 3deg);
}
100%{
        transform: translateY(100vh)  skew(0, 3deg);
    }
}

@keyframes square_8_ani_back {
0%{
    transform: translateY(-65vh)  skew(0, 2deg) ;
    
}
10%{
    transform: translateY(-65vh)  skew(0, 2deg) ;
    
}
100%{
    transform: translateY(100vh)  skew(0, 2deg) ;
}
}

@keyframes square_9_ani_back {
0%{
    transform: translateY(-55vh)  skew(0, -4deg);

}
15%{
    transform: translateY(-55vh)  skew(0, -4deg);

}
100%{
    transform: translateY(100vh) skew(0, -4deg);
}
}





@keyframes square_7_ani_back_re {
    10%{
        transform: translateY(-170vh)  skew(0, 3deg);
        
    }
    100%{
        transform: translateY(-70vh)  skew(0, 3deg);
        
    }
}

@keyframes square_8_ani_back_re {
    0%{

        transform: translateY(-150vh)  skew(0, 2deg);
        
    }
    100%{
        transform: translateY(-65vh) skew(0, 2deg) ;
        
    }
}


@keyframes square_9_ani_back_re {
    0%{
        transform: translateY(-150vh)  skew(0, -4deg);
        
    }
    100%{
        transform: translateY(-55vh) skew(0, -4deg);
        
    }
}


