
.square_1 {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #663399;
    transform: skew(0, 3deg) translateY(10vh);
    animation: goTop_1 1s cubic-bezier(.82,-0.19,.33,1.19) both;
}


@keyframes goTop_1 {
    0%{
        position: absolute;
        transform: translateY(50vh)  skew(0, 3deg);
    }
    100%{
        position: absolute;
        transform: translateY(10vh)  skew(0, 3deg);
    }
}

.square_2 {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #337499;
    transform: skew(0, 5deg) translateY(50vh);
    animation: goTop_2 1s cubic-bezier(.82,-0.19,.33,1.19) both;
}



@keyframes goTop_2 {
    0%{
        position: absolute;
        transform: translateY(50vh) skew(0, 5deg) ;
    }
    100%{
        position: absolute;
        transform: translateY(15vh) skew(0, 5deg) ;
    }
}





