@import "_nav", "_hamburger";

$MainColor : #242424;
$SubColor : #191919;
$Font : 'Quicksand', sans-serif; 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html,
body {
    background: $MainColor;
    margin: 0;
    padding: 0;
}

