@import "_nav", "_hamburger", "_figure", "_turning", "_button", "_turning_back";





$MainColor : #242424;
$SubColor : #191919;
$Font : 'Quicksand', sans-serif; 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');



body {
    background: #a1c4fd;
    // background:#191919;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



